{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}
    <div class="home-grid">
        <div class="content-h-g">
            <div class="imgs-h-g img-1">
                <a href="" class="g-content grid-link-1">
                    <i class="fi fi-sr-home"></i>
                    <p class="g-text">Travaux</p>
                </a>
            </div>
            <div class="imgs-h-g img-2"></div>
            <div class="imgs-h-g img-3">
                <a href="" class="g-content grid-link-2">
                    <i class="fi fi-sr-hand-holding-heart"></i>
                    <p class="g-text">Préstation de service</p>
                </a>
            </div>
            <div class="imgs-h-g img-4">
                <a href="" class="g-content grid-link-3">
                    <i class="fi fi-sr-spa"></i>
                    <p class="g-text">Bien-être</p>
                </a>
            </div>
            <div class="imgs-h-g img-5">
                <a href="" class="g-content grid-link-4">
                    <i class="fi fi-sr-salad"></i>
                    <p class="g-text">Alimentation</p>
                </a>
            </div>
            <div class="imgs-h-g img-6"></div>
        </div>
    </div>
    <div>

    </div>
{% endblock %}
