{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}
    <div>
        <ul>
            <li><a href=""> Bien-être</a></li>
            <li><a href=""> Almentaire</a></li>
            <li><a href="">Prestation de service</a></li>
            <li><a href=""> Travaux</a></li>
        </ul>
    </div>


{% endblock %}
