{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}
    <div class="home-grid">
        <div class="content-h-g">
            <div class="imgs-h-g img-1">
                <a href=""> <i class="fi fi-sr-home"></i></a>
            </div>
            <div class="imgs-h-g img-2"></div>
            <div class="imgs-h-g img-3">
                <i class="fi fi-sr-hand-holding-heart"></i></a>
            </div>
            <div class="imgs-h-g img-4">
                <a href=""> <i class="fi fi-sr-spa"></i></a>
            </div>
            <div class="imgs-h-g img-5">
                <a href=""> <i class="fi fi-sr-salad"></i></a>
            </div>
            <div class="imgs-h-g img-6"></div>
        </div>
    </div>
    <div>

    </div>
{% endblock %}
