{% extends 'base.html.twig' %}

{% block title %}Home!{% endblock %}

{% block body %}
    <div class="home-grid">
        <div class="content-h-g">
            <div class="imgs-h-g img-1">
                <a href="" class="g-content g-link-1">
                    <i class="fi fi-sr-home"></i>
                    <h2 class="g-text">Travaux</h2>
                </a>
            </div>
            <div class="imgs-h-g img-2"></div>
            <div class="imgs-h-g img-3">
                <a href="" class="g-content g-link-2">
                    <i class="fi fi-sr-hand-holding-heart"></i>
                    <h2 class="g-text">Préstation de service</h2>
                </a>
            </div>
            <div class="imgs-h-g img-4">
                <a href="" class="g-content g-link-3">
                    <i class="fi fi-sr-spa"></i>
                    <h2 class="g-text">Bien-être</h2>
                </a>
            </div>
            <div class="imgs-h-g img-5">
                <a href="" class="g-content g-link-4">
                    <i class="fi fi-sr-salad"></i>
                    <h2 class="g-text">Alimentation</h2>
                </a>
            </div>
            <div class="imgs-h-g img-6"></div>
        </div>
    </div>
    <div class="body-line"></div>
    <div class="col-12 d-flex">
        <h3 class="mx-auto body-h">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h3>
    </div>
    <div class="col-12 d-flex">
        <div class="col-6">
            <p class="body-text">
            Lorem ipsum dolor sit amet. Et quibusdam sunt ducimus quis et rerum vitae et galisum voluptas vel voluptatem quod qui eius harum. Qui labore adipisci a doloribus asperiores cum suscipit repellat ut amet modi hic voluptates temporibus sit maxime quos. Nam distinctio sequi eum voluptate galisum et amet quia sit necessitatibus blanditiis ut unde fuga rem accusamus veniam. Et autem rerum nihil voluptas qui fuga reprehenderit ut enim commodi sed culpa neque? Aut explicabo molestiae a similique consectetur hic mollitia tenetur ut distinctio maxime ut magnam possimus qui doloremque distinctio. Vel laborum quia non mollitia impedit et nobis veritatis qui ipsa voluptas quo omnis assumenda ea galisum provident. Ut accusantium nisi et animi quam est quos commodi ut sapiente officia qui perferendis beatae.
            
            Non maiores suscipit ex fugit voluptas et delectus dolorem. Ea voluptates ipsum ea quidem deserunt est harum voluptas aut exercitationem asperiores. Sed tempore recusandae eos ipsa rerum vel obcaecati illo et animi nemo aut quam nulla est provident sint. Ut sequi sequi At magnam culpa ut distinctio itaque sed eveniet fugit in ratione dolor. Et dignissimos autem eum rerum nihil aut voluptas voluptas et dolor consequatur in blanditiis sequi non tempore facilis.
            </p>
        </div>
        <div class="col-6">
            <p class="body-text">
            Lorem ipsum dolor sit amet. Eum voluptates delectus ab quisquam quae At pariatur explicabo sed quae ipsum ex sequi quae. Ut dolores quibusdam ea laudantium consequatur id aliquam debitis est ullam error ut dignissimos voluptatibus. Non ipsum voluptas non voluptas perspiciatis ut quaerat rerum in sint deleniti rem quos perspiciatis quo fugiat vero. Et voluptatem voluptas id placeat harum qui perferendis laborum et rerum dolores ea ratione impedit est dolorem dicta. Aut sint explicabo eum quibusdam cumque vel commodi debitis et illum quas eos consectetur recusandae et voluptatum minima vel adipisci officia.

            Quo consequatur doloremque non earum quis At temporibus fugit sit provident distinctio? Est ducimus quaerat et ipsam consequatur qui voluptatem quaerat et quod recusandae in dolor officia aliquid pariatur est alias repudiandae. Aut magni voluptatibus id molestiae culpa 33 omnis reiciendis sed velit galisum rem repellat molestias. Cum facilis autem eum illo molestias non impedit dolorum et impedit adipisci aut voluptatibus iste cupiditate expedita! Ex quia nihil id laborum perspiciatis ut perferendis similique id error quas nam laudantium pariatur et unde commodi.
            </p>
        </div>
    </div>
    <div class="body-line"></div>
    <div class="col-12 d-flex">
        <h4 class="mx-auto body-h4">Votre artisan pès de chez vous</h4>
    </div>
    <div class="col-12 d-flex">
        <div class="col-6">
            <img src="{{ asset('/images/structure/home/boulangerie.jpeg') }}" alt="" class="list-img">
        </div>
        <div class="col-6">
        </div>
    </div>

{% endblock %}
