<h1>Bonjour ! Merci de confimer votre email pour finir votre inscription sur Mon petit Artisan !</h1>

<p>
    Pour confirmer votre email, cliquez sur le lien suivant : <br><br>
    <a href="{{ signedUrl }}">Confrimer mon email</a>.
    Cet email éxpire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    À bientôt !
</p>

