{% extends "base.html.twig" %}

{% block title %}
    Profil utilisateur
{% endblock %}

{% block body %}

<div class="row">
   <div class="col">
       <img src="./images/oiseaux.jpg" alt="oiseaux">


    <div class="col">
    <p class="text-center text-secondary">{{app.user.id}}</p>
    </div>

    
    <div class="col">
    <p class="text-center text-secondary">{{app.user.email}}</p>
    </div>
    
{% endblock %}
